# requirements for a development environment
coverage
datalad
datalad-core @ git+https://github.com/datalad/datalad-core
datalad-next
datasalad
hatch
hatch-vcs
pytest
pytest-cov

# requirements for a document building
sphinx
sphinx_rtd_theme
sphinx_copybutton
